

ion-fab > ion-fab-button{
	--box-shadow:none !important;
	bottom: 13px;
	position: relative;
	--background: white;
	--color: black;

	ion-icon {
		font-size: 30px; 
	}


}



ion-fab-list{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 20px;
	left: -115%;
	padding-bottom: 20px;

	ion-fab-button{
		--background: transparent;
		--color:black;
		width: 48px; 
		height: 48px;

		ion-icon{
			font-size: 24px;
		}
	}
} 